In [1]:
from DatabaseConnection import *

In [2]:
# Define Constants
# Database connection information
DATABASE = "movie_book_database"
USER = "postgres"
PASSWORD = "password"
HOST = "localhost"
PORT = 5432

# Table to pull data from
TABLE = "movie_collection"

In [4]:
database = DatabaseConnection(DATABASE, USER, PASSWORD, TABLE)
df = database.get_data()

In [5]:
df

       title  times_watched  user_rating mpa_rating
0     Apples              0            5      PG-13
1     Django              3            5          R
2  Star Wars              3            4      PG-13
3  Zoolander              1            5          M

In [3]:
cursor = set_connection(DATABASE, USER, PASSWORD)
df = get_data(TABLE, cursor)

In [4]:
df

       title  times_watched  user_rating mpa_rating
0     Apples              0            5      PG-13
1     Django              3            5          R
2  Star Wars              3            4      PG-13
3  Zoolander              1            5          M

In [1]:
import pandas as pd

df = pd.read_csv('../Data/title.basics.tsv.gz', compression='gzip', sep='\t', low_memory=False)

In [9]:
print(df.shape)
df.head(100)

(11597904, 9)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
95,tt0000097,short,"Place de l'Opéra, First View","Place de l'Opéra, 1er aspect",0,1896,\N,\N,"Documentary,Short"
96,tt0000098,short,"Place de l'Opéra, Second View","Place de l'Opéra, 2e aspect",0,1896,\N,\N,"Documentary,Short"
97,tt0000099,short,Place de la Bastille,Place de la Bastille,0,1896,\N,\N,"Documentary,Short"
98,tt0000100,short,Place de la Concorde,Place de la Concorde,0,1896,\N,\N,"Documentary,Short"
99,tt0000101,short,Place du théâtre français,Place du théâtre français,0,1896,\N,\N,"Documentary,Short"

In [14]:
filtered_df = df[df['titleType'] == 'movie']
filtered_df = filtered_df.drop('endYear', axis=1)
filtered_df = filtered_df[filtered_df['genres'] != '\\N']
print(filtered_df.shape)
filtered_df.head(100)

(635452, 8)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,Drama
...,...,...,...,...,...,...,...,...
2795,tt0002822,movie,What 80 Million Women Want,What 80 Million Women Want,0,1913,56,"Crime,Drama,Romance"
2805,tt0002832,movie,Evangeline,Evangeline,0,1914,50,Drama
2806,tt0002833,movie,Evinrude,Evinrude,0,1913,\N,"Crime,Drama"
2817,tt0002844,movie,Fantômas: In the Shadow of the Guillotine,Fantômas I: À l'ombre de la guillotine,0,1913,54,"Crime,Drama"
2830,tt0002857,movie,Uma Ferra em Salvaterra de Magos,Uma Ferra em Salvaterra de Magos,0,1913,\N,Documentary